<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landmarks</title>
  </head>
  <body>
    <h1>Landmarks</h1>
    <% Landmark.all.each do |landmark| %>
    <p><%= landmark.name %></p>
    <p><%= landmark.year_completed %></p>
    <% end%>
  </body>
</html>
