<h1>All Landmarks</h1>
<% @landmarks.each do |landmark| %>
Landmark Name: <%= landmark.name %><br>
Landmark Year Complete <%= landmark.year_completed %>
Landmark Figure: <%= landmark.figure %><br>

<% end %>
