<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <form method="post" action="/landmarks">
      Name: <input id="landmark_name" type="text" name="landmark[name]">
      Year Completed: <input id="landmark_year_completed" type="text" name="landmark[year_completed]">

      <br></br>
      
      <input type="submit" name="submit" id="Create New Landmark">
    </form>
  </body>
</html>
