<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Landmark</title>
  </head>
  <body>
    <form class="" action="/landmarks" method="post">
      <label for="landmark_name"></label>
      <input id="landmark[name]"type="text" name="landmark_name" value="">
      <label for="landmark_year_completed"></label>
      <input id="landmark[year_completed]" type="text" name="landmark_year_completed" value="">

      <input type="submit" name="" value="Create New Landmark">
    </form>


  </body>
</html>
