<h1>All figures</h1>
<% @figures.each do |figure| %>
Figure Name: <%= figure.name %><br>
Figure Landmarks: <% figure.landmarks.each do |landmark| %>
<%= landmark.name %> <%= landmark.year_completed %><br>
  <% end %><br>
Figure Titles: <% figure.titles.each do |title| %>
<%= title.name %><br>
  <% end %><br>
<% end %>
